################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Frontend/Common/bin/Debug/net5.0
/Frontend/Common/Services/IssuesDatabaseService.cs
/Frontend/Common/obj/Debug/net5.0
/Frontend/TestConsole/bin/Debug/net5.0
/Frontend/TestConsole/obj
bin
obj
obj
bin
obj
obj
bin
/Frontend/Database/Database.jfm
/Frontend/Database/Database.dbmdl
