[package]
name = "truerepublic-contracts"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
cosmwasm-std = { workspace = true }
serde = { workspace = true }
schemars = { workspace = true }

[dev-dependencies]
cosmwasm-vm = { workspace = true }
