name: Web Wallet CI

on:
  workflow_dispatch:
  push:
    paths:
      - 'web-wallet/**'
  pull_request:
    paths:
      - 'web-wallet/**'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web-wallet
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Test
        run: npm test -- --watchAll=false --passWithNoTests
